<html>

<head>
    <title>Automatic Question Paper Scrutinizer</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/categories.js"></script>
    <script src="/js/stemmer.js"></script>
    <script src="/js/classifier.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        @media print {
            #pdf-button {
                display: none;
            }
        }

        textarea,
        input {
            border: none;
            border-color: transparent;
        }
    </style>

</head>

<body>
    <CENTER>
        <table border="1">
            <tr>
                <td>Register No:</td>
                <td width="40px"></td>
                <td width="40px"></td>
                <td width="40px"></td>
                <td width="40px"></td>
                <td width="40px"></td>
                <td width="40px"></td>
                <td width="40px"></td>
                <td width="40px"></td>
                <td width="40px"></td>
                <td width="40px"></td>
            </tr>
        </table>
        <br>
        <h5>FACULTY OF INFORMATION & COMMUNICATION ENGINEERING, ANNA UNIVERSITY CEG CAMPUS</h5><br>
        <H5> DEPARTMENT OF INFORMATION SCIENCE AND TECHNOLOGY</H5>
        <H6>Assessment Test :&nbsp <input type="text"> <br><br> Academic Year:&nbsp <input type="text"> Regulations:
            &nbsp <input type="text"> </H6>
        <br><br>
        <div class="container">
            <div class="row">
                <div class=" col-md-6"> Program :&nbsp <input type="text"></div>
                <div class="col-md-6"> Year/Sem :&nbsp <input type="text"></div>
            </div>
            <div class="row">
                <div class=" col-md-6"> Max. Marks: &nbsp <input type="text"></div>
                <div class="col-md-6"> Duration:&nbsp <input type="text"></div>
            </div>
            <div class="row">
                <div class=" col-md-6"> Date of Exam: &nbsp <input type="text"></div>
                <div class="col-md-6"> Staff Name: &nbsp <input type="text"></div>
            </div>
        </div>
        <h6>Course Code and Title: &nbsp <input type="text"> </h6><br><br>

        <br></br>
        <div class="container">
            <% for(var i =0 ; i < data.sections.length ;i ++) { %>
            <h2>Part
                <%= String.fromCharCode(i+65) %>
            </h2>
            <table border="1" width="90%" style="text-align:center">
                <tr>
                    <th>Question No</th>
                    <th>Question</th>
                    <th>Blooms Taxonomy</th>
                    <th>Course Outcome</th>
                    <th>Marks</th>
                </tr>
                <% for (j = 1; j <= data.sections[i]; j++) { %>
                <% id = ''+i+j %>
                <tr>
                    <td>
                        <%= j %>
                    </td>
                    <td style="display:flex">
                        <textarea cols="60" class="content" id='content-<%= id %>'
                            onkeyup="start('<%= id %>')"></textarea>
                        <button onclick="goClassify('<%= id %>')" >Classify</button>
                    </td>
                    <td><textarea cols="10" id='class-<%= id %>' class="BTlevel"  disabled></textarea></td>
                    <td><textarea cols="7" id='cos-<%= id %>'class="course_outcome" disabled></textarea></td>
                    <td><input type="text" class="marks"></td>
                </tr>
                <tr class="suggestion" id="suggestTR-<%= id %>" >
                    <td style="display:none"> </td>
                    <td style="display:none"><textarea  cols="60" id="suggest-<%= id %>"></textarea> </td>
                    <td style="display:none"></td>
                    <td style="display:none"></td>
                    <td style="display:none"></td>
                </tr>
                <% } %>
            </table>
            <% } %>
        </div>
        <br><br>
        <button onclick="save()">Save</button>
        <input id="pdf-button" type="button" value="Download PDF" onClick="window.print()" />
    </CENTER>
    <script>
        var reverse_map = {};
        $.ajax({
            url: "/table/co_to_bt",
            type: 'post',
            data: { course_id: '<%= data.course_id %>' }
        }).done(function (res) {
            parse(res.rows);
        });
        function parse(rows) {
            rows.forEach(row => {
                var bts = row.bt.split(',');
                bts.forEach(bt => {
                    if (!reverse_map[bt]) reverse_map[bt] = [];
                    reverse_map[bt].push(row.CO_level);
                });
            });
            console.log(reverse_map)
        }
        function go(id, val) {
            var class_id = `#class-${id}`;
            $(class_id).val(val);
            var bts = val.split(','), i = 0, cos = '';
            for (; i < bts.length - 1; i++) {
                cos += reverse_map[bts[i]] + ',';
            }
            if (bts.length > 0) {
                cos += reverse_map[bts[i]];
            }
            var cos_id = `#cos-${id}`;
            if (cos == 'undefined') { cos = '' };
            $(cos_id).val(cos);
        }
        function gosug(id, val) {
            $(`#suggestTR-${id}`).children().show()
            var class_id = `#suggest-${id}`;
            $(class_id).val(val);
            var bts = val.split(','), i = 0, cos = '';
            for (; i < bts.length - 1; i++) {
                cos += reverse_map[bts[i]] + ',';
            }
            if (bts.length > 0) {
                cos += reverse_map[bts[i]];
            }
            var cos_id = `#cos-${id}`;
            if (cos == 'undefined') { cos = '' };
            $(cos_id).val(cos);
        }
        function start(id) {
            var content_id = `#content-${id}`;
            var content = $(content_id).val();
            $.ajax({
                url: '/suggest',
                data: { q: content },
                type: 'get',
            }).done(function (res) {
                gosug(id, res);
            })
        }
        function goClassify(id) {
            $('.suggestion').hide()
            var content_id = `#content-${id}`;
            var content = $(content_id).val();
            $.ajax({
                url: '/classify',
                data: { q: content },
                type: 'get',
            }).done(function (res) {
                go(id, res);
            })
        }
        var data = { course_id: '<%- data.course_id %>', mode:'<%- data.mode %>' };
        function save() {
            data['questions'] = [];
            data['course_outcome']=[];
            data['BTlevel']=[];
            data['marks']=[];
            for (var i = 0; i < $('.content').length; i++) {
                data['questions'].push($($('.content')[i]).val());
                data['course_outcome'].push($($('.course_outcome')[i]).val())
                data['BTlevel'].push($($('.BTlevel')[i]).val())
                data['marks'].push($($('.marks')[i]).val())
            }
            $.ajax({
                url: '/store-questions',
                type: 'post',
                data: data,
            }).done(function (res) {
                alert(res.message)
                data['paper_id'] = res.paper_id;
            })
        }
    </script>
</body>

</html>